{% extends 'base.html' %} {% load static %} {% block body %}
<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="/">Home</a>
        <a class="breadcrumb-item text-dark" href="/shop/">Shop</a>
        <span class="breadcrumb-item active">Checkout</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Start -->
<div class="container-fluid">
  <form action="/checkout/" method="post">
    {% csrf_token %}
    <div class="row px-xl-5">
      <div class="col-lg-8">
        <h5 class="section-title position-relative text-uppercase mb-3">
          <span class="bg-secondary pr-3">Billing Address</span>
        </h5>
        <div class="bg-light p-30 mb-5">
          <div class="row">
            <div class="col-md-12 form-group">
              <label>Full Name</label>
              <input
                class="form-control"
                name="name"
                type="text"
                placeholder="Doe"
                data-validation-required-message="Please enter your name"
                required
              />
            </div>
            <div class="col-md-6 form-group">
              <label>E-mail</label>
              <input
                class="form-control"
                name="email"
                type="text"
                placeholder="example@email.com"
                required
              />
            </div>
            <div class="col-md-6 form-group">
              <label>Mobile No</label>
              <input
                class="form-control"
                name="phone"
                type="text"
                placeholder="+123 456 789"
                required
              />
            </div>
            <div class="col-md-6 form-group">
              <label>Address </label>
              <input
                class="form-control"
                name="address"
                type="text"
                placeholder="123 Street"
                required
              />
            </div>

            <div class="col-md-6 form-group">
              <label>City</label>
              <input
                class="form-control"
                name="city"
                type="text"
                placeholder="New York"
                required
              />
            </div>
            <div class="col-md-6 form-group">
              <label>State</label>
              <input
                class="form-control"
                name="state"
                type="text"
                placeholder="New York"
                required
              />
            </div>
            <div class="col-md-6 form-group">
              <label>ZIP Code</label>
              <input
                class="form-control"
                name="zip"
                type="text"
                placeholder="123"
                required
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-5">
          <h5 class="section-title position-relative text-uppercase mb-3">
            <span class="bg-secondary pr-3">Payment</span>
          </h5>
          <div class="bg-light p-30 mb-5">
            <div class="border-bottom">
              <h6 class="mb-3">Products</h6>
              {% for d in data %}
              <div class="d-flex justify-content-between">
                <p>{{d.p_id.pname}}</p>
                <p>${{d.sub_total}}</p>
              </div>
              {% endfor %}
            </div>
            <div class="border-bottom pt-3 pb-2">
              <div class="d-flex justify-content-between mb-3">
                <h6>Subtotal</h6>
                <h6>${{g_total}}</h6>
              </div>
              <div class="d-flex justify-content-between">
                <h6 class="font-weight-medium">Shipping</h6>
                <h6 class="font-weight-medium">$10</h6>
              </div>
            </div>
            <div class="pt-2">
              <div class="d-flex justify-content-between mt-2">
                <h5>Total</h5>
                <h5>${{total}}</h5>
              </div>
            </div>
          </div>
          <div class="bg-light p-30">
            <div class="form-group mb-4">
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  class="custom-control-input"
                  name="payment"
                  value="1"
                  id="banktransfer"
                />
                <label class="custom-control-label" for="banktransfer"
                  >Cash On Delivery</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  class="custom-control-input"
                  name="payment"
                  value="2"
                  id="strip"
                />
                <label class="custom-control-label" for="strip"
                  >Stripe</label
                >
              </div>
            </div>
            <button class="btn btn-block btn-primary font-weight-bold py-3">
              Place Order
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- Checkout End -->

{% endblock body %}
<!-- Breadcrumb Start -->
